# Environment
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
.venv/
venv/
env/
ENV/

# Cached data / models
*.npy
*.npz
*.faiss
*.pkl
*.pickle
df_paris.csv
qdrant_data*/
chapter_*/cache.json

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db

#book
Build_an_Advanced_RAG_Application_(From__v4_MEAP.pdf

colab_original_notebooks/chapter_7_data
colab_original_notebooks/cache.json